<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

	<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Server monitor dashboard
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			 
			<button type="button" onclick="location.href='./mercury'" class="btn btn-outline-primary btn-lg btn-block" role="button">
				Mercury
			</button> 
			<button type="button" onclick="location.href='./pluto'" class="btn btn-block btn-outline-primary btn-lg" role="button">
				Pluto
			</button> 
			<button type="button" onclick="location.href='./xiaoqiang'" class="btn btn-block btn-outline-primary btn-lg" role="button">
				xiaoqiang
			</button>
		</div>
		<div class="col-md-5">
			<div id="container" style="width: 300px; height: 300px; margin: 0 auto"></div>
		</div>
		<div class="col-md-4">
		<div class="card text-white bg-info mb-3" style="width: 22rem;">
			<div class="card-header"><b>Mercury [{{data_mercury_log_date_latest}}]</b></div>
			  <div class="card-body">
			    
			    	<div id="container-cpu_load" style="width: 300px; height: 200px; float: left"></div>
					<div id="container-cpu_temp" style="width: 300px; height: 200px; float: left"></div>
			  </div>

		</div>
			
    		
		</div>
	</div>
</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>



	<script src="./clock.js"></script>
	<script src="https://code.highcharts.com/themes/dark-unica.js"></script>
	<script src="{{url_for('mercury_latest_js')}}"></script>


	</body>
</html>


