<html>

<head>
<title>Mercury lastest</title>
</head>

<body>


<div style="width: 600px; height: 400px; margin: 0 auto">
    <div id="container-cpu_load" style="width: 300px; height: 200px; float: left"></div>
    <div id="container-cpu_temp" style="width: 300px; height: 200px; float: left"></div>
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/themes/dark-unica.js"></script>
<script src="{{url_for('mercury_latest_js')}}"></script>
</body>

</html>